<div class="row">
    <div class="span12">
         <ul class="breadcrumb">
          <li>
            <a href="index.html"><i class="icon-home"></i></a> <span class="divider">/</span>
          </li>
          <li class="active">
          Coupons
          </li>

        </ul>
    
    </div>
    <div class="span12">
        <ul class="resultlist">
            <% @coupons.each do |c| %>
            
            <div class="span4">
                <ul class="resultlist">
                    <li>
                        <h2><%= c.name %></h2>
                        <p><%= c.description %></p>
                        <a class="btn btn-success btn-mini" href="print.html">Details and printing</a>
                   </li>
               </ul>
            </div>
            
            <% end %>
        </ul>
    </div>
</div>